.leaflet-control-slidemenu{
    cursor: pointer;
}

.leaflet-menu{
    position: absolute;
    background-color: #434651;
    overflow: hidden;
    cursor: default;
    z-index: 9999;
    box-shadow: #222 -1px -1px 20px 0px;
    border-radius: 2%;
    margin-top: 0.5%;
    align-items: center;
  
}

.leaflet-menu-contents {
    padding: 10px;
}

.leaflet-menu::-webkit-scrollbar{
    width: 3px;
    height: 3px;
    background:#434651;
    
  
    
}

.leaflet-menu::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #777;   
}

.leaflet-menu-close-button{
    background-color: transparent;
    float: right;
    position: fixed;
    border: none;
    font-size: 14pt;
    color: #777;
    cursor: pointer;
}

.leaflet-menu-close-button:hover{
    color: #0443a8;
}